In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder, StandardScaler # encode
# SVM
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/predict-student-performance-from-game-play/sample_submission.csv
/kaggle/input/predict-student-performance-from-game-play/train_labels.csv
/kaggle/input/predict-student-performance-from-game-play/train.csv
/kaggle/input/predict-student-performance-from-game-play/test.csv
/kaggle/input/predict-student-performance-from-game-play/jo_wilder/competition.cpython-37m-x86_64-linux-gnu.so
/kaggle/input/predict-student-performance-from-game-play/jo_wilder/__init__.py

In [2]:
'''

df = pd.read_csv('/kaggle/input/predict-student-performance-from-game-play/train.csv')
print(df.head())
print(df.columns)
print(df.shape)

'''

"\n\ndf = pd.read_csv('/kaggle/input/predict-student-performance-from-game-play/train.csv')\nprint(df.head())\nprint(df.columns)\nprint(df.shape)\n\n"

Useful Notebook: https://www.kaggle.com/code/chiaenchen/eda-predict-student-performance-from-game-play#Conclusion

1. Drop the feature which 'null' ratio > 50%
2. Encode string value, event_name and name
3. Fill missing item in coordinates by Forward fill
4. Remove features that are not relevant to predicting game performance, hover_duration, fullscreen, hq,music

In [3]:
dtypes = {"session_id": 'int64',
          "index": np.int16,
          "elapsed_time": np.int32,
          "event_name": 'category',
          "name": 'category',
          "level": np.int8,
          "page": np.float16,
          "room_coor_x": np.float64,
          "room_coor_y": np.float64,
          "screen_coor_x": np.float64,
          "screen_coor_y": np.float64,
          "hover_duration": np.float32,
          "text": 'category',
          "fqid": 'category',
          "room_fqid": 'category',
          "text_fqid": 'category',
          "fullscreen": np.int8,
          "hq": np.int8,
          "music": np.int8,
          "level_group": 'category'
          }

In [4]:
#avoid memory error, use chunk
def process(chunk,data):
    # process data here
    #print(chunk.shape)
    
    # Remove the 'page','text_fqid,'fqid','text' column
    chunk.drop('page', axis=1, inplace=True)
    chunk.drop('text_fqid', axis=1, inplace=True)
    chunk.drop('fqid', axis=1, inplace=True)
    chunk.drop('text', axis=1, inplace=True)
    
    # Remove Unrelate value
    chunk.drop('hover_duration', axis=1, inplace=True)
    chunk.drop('fullscreen', axis=1, inplace=True)
    chunk.drop('hq', axis=1, inplace=True)
    chunk.drop('music', axis=1, inplace=True)

    # Encode the 'even_name',  variable
    encoder = LabelEncoder()
    chunk['event_name'] = encoder.fit_transform(chunk['event_name'])
    chunk['name'] = encoder.fit_transform(chunk['name'])
    chunk['room_fqid'] = encoder.fit_transform(chunk['room_fqid'])
    
    # fill missing item by previous value, 
    chunk[['room_coor_x', 'room_coor_y']].fillna(method='ffill', inplace=True)
    chunk[['screen_coor_x', 'screen_coor_y']].fillna(method='ffill', inplace=True)
    
    # scale the data
    ...

    # Add the preprocessed chunk to the list
    data.append(chunk)

In [5]:
# load in data

#avoid memory error, set nrows to 100000
chunk_size = 10000
data = []
data_generator = pd.read_csv('/kaggle/input/predict-student-performance-from-game-play/train.csv', chunksize=chunk_size,dtype=dtypes,nrows = 100000)
for chunk in data_generator:
    process(chunk,data)
# Concatenate all preprocessed chunks into a single DataFrame
data = pd.concat(data, axis=0)

# Load target label
target = pd.read_csv('/kaggle/input/predict-student-performance-from-game-play/train_labels.csv')

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [6]:
#print(preprocessed_data[0:100])
data.shape
target.shape
data.head(3)

,session_id,index,elapsed_time,event_name,name,level,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,room_fqid,level_group
0,20090312431273200,0,0,1,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
1,20090312431273200,1,1323,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
2,20090312431273200,2,831,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4

In [7]:
data.elapsed_time = data.elapsed_time/60000 #change millsecond to mins
data.to_csv("/kaggle/working/preprocessed_data", index=False)
data.head(50)

,session_id,index,elapsed_time,event_name,name,level,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,room_fqid,level_group
0,20090312431273200,0,0.000000,1,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
1,20090312431273200,1,0.022050,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
2,20090312431273200,2,0.013850,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
3,20090312431273200,3,0.019117,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
4,20090312431273200,4,0.031050,10,0,0,-412.991405,-159.314686,381.0,494.0,7,0-4
5,20090312431273200,5,0.057050,10,0,0,-412.991405,-157.314686,381.0,492.0,7,0-4
6,20090312431273200,6,0.086617,10,0,0,478.485079,-199.971679,593.0,485.0,7,0-4
7,20090312431273200,7,0.103000,10,0,0,503.355128,-168.619913,609.0,453.0,7,0-4
8,20090312431273200,8,0.116900,10,0,0,510.733442,-157.720642,615.0,442.0,7,0-4
9,20090312431273200,9,0.132433,10,0,0,512.048005,-153.743631,616.0,438.0,7,0-4
10,20090312431273200,10,0.152217,4,5,0,501.110035,-160.748164,605.0,445.0,7,0-4
11,20090312431273200,11,0.171050,10,0,0,501.084991,-164.762366,605.0,445.0,7,0-4
12,20090312431273200,12,0.200500,4,5,0,510.081490,-106.352093,614.0,386.0,7,0-4
13,20090312431273200,13,0.217167,9,0,0,486.877471,-98.538288,614.0,386.0,7,0-4
14,20090312431273200,14,0.246900,4,5,0,273.991410,-196.802371,406.0,486.0,7,0-4
15,20090312431273200,15,0.258300,4,5,0,185.708460,-205.806533,363.0,492.0,7,0-4
16,20090312431273200,16,0.267433,4,5,0,0.583565,-225.691296,234.0,510.0,7,0-4
17,20090312431273200,17,0.291033,4,5,0,350.344270,-173.948629,766.0,454.0,7,0-4
18,20090312431273200,18,0.302733,4,5,0,-37.961716,-255.711127,301.0,542.0,7,0-4
19,20090312431273200,19,0.313267,4,5,0,-133.236752,-251.376033,203.0,531.0,7,0-4
20,20090312431273200,20,0.323000,4,5,0,-253.401844,-253.023019,201.0,530.0,7,0-4
21,20090312431273200,21,0.333567,4,5,0,-385.096230,-253.134658,197.0,529.0,7,0-4
22,20090312431273200,22,0.344683,4,5,0,-564.055739,-216.507416,133.0,492.0,7,0-4
23,20090312431273200,23,0.356883,4,5,0,-720.325333,-207.429918,99.0,487.0,7,0-4
24,20090312431273200,24,0.366883,4,5,0,-818.128894,-194.244643,92.0,476.0,7,0-4
25,20090312431273200,25,0.383267,4,5,0,-924.692590,-254.280542,75.0,539.0,7,0-4
26,20090312431273200,26,0.405800,6,0,0,-472.142708,-117.942846,554.0,394.0,7,0-4
27,20090312431273200,27,0.429433,7,1,0,-206.471467,199.155280,822.0,76.0,7,0-4
28,20090312431273200,28,0.468550,4,5,1,-587.657879,-27.916913,441.0,303.0,7,0-4
29,20090312431273200,29,0.537150,6,0,1,-182.558163,-1.906501,767.0,305.0,7,0-4
30,20090312431273200,30,0.551050,6,0,1,-182.500704,-55.888296,767.0,359.0,7,0-4
31,20090312431273200,31,0.570750,6,0,1,-182.486523,-55.883804,767.0,359.0,7,0-4
32,20090312431273200,32,0.607217,7,1,1,-113.484832,241.116732,836.0,62.0,7,0-4
33,20090312431273200,33,0.605767,4,5,1,-453.484720,-193.883232,496.0,497.0,7,0-4
34,20090312431273200,34,0.614933,4,5,1,-381.244988,-22.454632,525.0,316.0,7,0-4
35,20090312431273200,35,0.624083,4,5,1,-358.832033,54.847822,462.0,249.0,7,0-4
36,20090312431273200,36,0.664083,4,5,1,-234.247817,-77.052212,245.0,376.0,5,0-4
37,20090312431273200,37,0.688283,9,0,1,-400.311667,-117.476454,179.0,405.0,5,0-4
38,20090312431273200,38,0.698300,4,5,1,-418.370598,-120.264333,172.0,407.0,5,0-4
39,20090312431273200,39,0.723550,4,5,1,-486.265977,-109.112818,151.0,399.0,5,0-4
40,20090312431273200,40,0.736600,4,5,1,385.587985,-135.776680,461.0,413.0,11,0-4
41,20090312431273200,41,0.751033,1,0,1,93.811703,-60.345450,338.0,368.0,11,0-4
42,20090312431273200,42,0.767433,1,0,1,133.978871,-85.715094,390.0,386.0,11,0-4
43,20090312431273200,43,0.789367,1,0,1,125.931445,-83.374177,390.0,385.0,11,0-4
44,20090312431273200,44,0.801867,1,0,1,123.708202,-80.064777,389.0,383.0,11,0-4
45,20090312431273200,45,0.825233,1,0,1,117.007942,-76.791509,385.0,381.0,11,0-4
46,20090312431273200,46,0.835733,1,0,1,116.997193,-76.790557,385.0,381.0,11,0-4
47,20090312431273200,47,0.846567,1,0,1,115.365405,-81.675345,384.0,384.0,11,0-4
48,20090312431273200,48,0.873550,1,0,1,113.735877,-84.931969,383.0,386.0,11,0-4
49,20090312431273200,49,0.872133,8,0,1,NaN,NaN,NaN,NaN,11,0-4

The session_id of target contains the number of topics (q1-q8), which cannot be matched with the session_id of data. Because, add a new user_id which in target.(this idea refer to chiaenchen)
Use regular expressions to achieve this.

In [8]:
import re #regular expression

# split session_id by "-". -> 20090312431273200_q1: 20090312431273200 and 1
target["session_id"],target["q_id"] = target.session_id.str.split("_", expand = True)[0],target.session_id.str.split("_", expand = True)[1] # session_id is 20090312431273200
target["q_id"] = target["q_id"].apply(lambda x : re.sub("\D", "",x)) # remove all non-digit characters from the "question" column 

# to numeric
target["q_id"] = pd.to_numeric(target["q_id"])
target["session_id"] = pd.to_numeric(target["session_id"])

target.head(3)

          session_id  correct  q_id
0  20090312431273200        1     1
1  20090312433251036        0     1
2  20090312455206810        1     1

list of question; 
number of user in data; 
number of user in target;

In [9]:
target.q_id.unique()
data.session_id.nunique()
target.session_id.nunique()
data.shape,target.shape

((100000, 12), (424116, 3))

In [10]:
target.to_csv("/kaggle/working/extended_target", index=False)

Data analysis

In [11]:
# data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   session_id     100000 non-null  int64
 1   index          100000 non-null  int16
 2   elapsed_time   100000 non-null  float64
 3   event_name     100000 non-null  int64
 4   name           100000 non-null  int64
 5   level          100000 non-null  int8
 6   room_coor_x    91474 non-null   float64
 7   room_coor_y    91474 non-null   float64
 8   screen_coor_x  91474 non-null   float64
 9   screen_coor_y  91474 non-null   float64
 10  room_fqid      100000 non-null  int64
 11  level_group    100000 non-null  category
dtypes: category(1), float64(5), int16(1), int64(4), int8(1)
memory usage: 7.2 MB

In [12]:
# user1's data
id1 = data.session_id[0]
data1 = data.loc[data.session_id == id1]
data1

,session_id,index,elapsed_time,event_name,name,level,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,room_fqid,level_group
0,20090312431273200,0,0.000000,1,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
1,20090312431273200,1,0.022050,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
2,20090312431273200,2,0.013850,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
3,20090312431273200,3,0.019117,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
4,20090312431273200,4,0.031050,10,0,0,-412.991405,-159.314686,381.0,494.0,7,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...
876,20090312431273200,927,21.122617,4,5,22,927.307255,-10.355929,838.0,335.0,11,13-22
877,20090312431273200,928,21.138200,3,0,22,NaN,NaN,NaN,NaN,11,13-22
878,20090312431273200,929,21.157900,2,5,22,457.523005,22.141338,443.0,316.0,11,13-22
879,20090312431273200,930,21.178467,4,5,22,224.190321,-60.268671,404.0,337.0,2,13-22
880,20090312431273200,931,21.211317,0,0,22,NaN,NaN,NaN,NaN,2,13-22

In [13]:
# user1's answer
target[target.session_id == id1]

               session_id  correct  q_id
0       20090312431273200        1     1
23562   20090312431273200        1     2
47124   20090312431273200        1     3
70686   20090312431273200        1     4
94248   20090312431273200        1     5
117810  20090312431273200        1     6
141372  20090312431273200        1     7
164934  20090312431273200        1     8
188496  20090312431273200        1     9
212058  20090312431273200        1    10
235620  20090312431273200        1    11
259182  20090312431273200        1    12
282744  20090312431273200        0    13
306306  20090312431273200        1    14
329868  20090312431273200        1    15
353430  20090312431273200        0    16
376992  20090312431273200        1    17
400554  20090312431273200        1    18

Process data

In [14]:
# group by session_id
grouped_data = data.groupby('session_id')
grouped_data.head(3)

,session_id,index,elapsed_time,event_name,name,level,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,room_fqid,level_group
0,20090312431273200,0,0.000000,1,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
1,20090312431273200,1,0.022050,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
2,20090312431273200,2,0.013850,10,0,0,-413.991405,-159.314686,380.0,494.0,7,0-4
881,20090312433251036,0,0.000000,1,0,0,-394.991405,84.685314,399.0,250.0,7,0-4
882,20090312433251036,1,0.003633,10,0,0,-394.991405,84.685314,399.0,250.0,7,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...
98182,20100018421509572,1,0.007850,10,0,0,-16.991405,8.685314,777.0,326.0,7,0-4
98183,20100018421509572,2,0.017000,10,0,0,-16.991405,8.685314,777.0,326.0,7,0-4
99163,20100019111032050,0,0.000000,1,0,0,-357.991405,-220.314686,436.0,555.0,7,0-4
99164,20100019111032050,1,0.004450,10,0,0,-360.991405,-219.314686,433.0,554.0,7,0-4
99165,20100019111032050,2,0.008350,10,0,0,-360.991405,-219.314686,433.0,554.0,7,0-4

In [15]:
def feature_eng(df_sessions):
    df_final = pd.DataFrame()
    df_final['session_id'] = df_sessions['session_id'].unique()
    df_final['year'] = df_final['session_id'].apply(lambda x: int(str(x)[:2])).astype(np.uint8)
    df_final['month'] = df_final['session_id'].apply(lambda x: int(str(x)[2:4]) + 1).astype(np.uint8)
    df_final['weekday'] = df_final['session_id'].apply(lambda x: int(str(x)[4:6])).astype(np.uint8)
    df_final['hour'] = df_final['session_id'].apply(lambda x: int(str(x)[6:8])).astype(np.uint8)
    df_final['minute'] = df_final['session_id'].apply(lambda x: int(str(x)[8:10])).astype(np.uint8)
    df_final['second'] = df_final['session_id'].apply(lambda x: int(str(x)[10:12])).astype(np.uint8)
    df_final['ms'] = df_final['session_id'].apply(lambda x: int(str(x)[12:15])).astype(np.uint16)
    df_final['noise'] = df_final['session_id'].apply(lambda x: int(str(x)[15:17])).astype(np.uint8)
    return df_final

In [16]:
df_merge = pd.merge(data, target, on = 'session_id')
df_final = convert_time(df_merge)
df_final = df_final.set_index(['session_id'])
df_final.index.get_level_values('session_id')
day_map = {0: 'monday', 1: 'tuesday', 2:'wednesday', 3:'thursday', 4:'friday', 5:'saturday', 6:'sunday'}
df_final = pd.merge(df_merge, df_final, on= 'session_id')
df_final.weekday = df_final.weekday.map(day_map)
df_final.head()

NameError: name 'convert_time' is not defined

In [ ]:
"""
# Split the data into train, validation, and test sets
X_train, X_val, y_train, y_val = train_test_split(data, target, test_size=0.2, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_val, y_val, test_size=0.5, random_state=42)

# Create an SVM classifier with a linear kernel
svm = SVC(kernel='linear')

# Train the model on the training set
svm.fit(X_train, y_train)

# Predict on the validation set and evaluate the performance
y_pred = svm.predict(X_val)
print(classification_report(y_val, y_pred))

# Predict on the test set and evaluate the performance
y_pred_test = svm.predict(X_test)
print(classification_report(y_test, y_pred_test))
"""